/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/*Ajout des boutons filtres*/
.btn-filtre {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;
}

.btn-filtre button {
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid #1D6154;
	border-color: #1D6154;
	padding: 5px 10px;
	background-color: #fff;
	margin-right: 10px;
	font-weight: 700;
}

.btn-filtre button:hover {
	cursor: pointer;
	background-color: #1D6154;
	color: #fff;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/*lien mdp oublié + cursor connexion*/
#mdp-forgive {
	text-align: center;
	color: #000;
}

#connexion,
#send:hover {
	cursor: pointer;
}

/*lien mdp oublié + cursor connexion*/
#contact,
#login,
#modal-content_add-img form{
	width: 50%;
	margin: auto;
}

#contact,
#login>* {
	text-align: center;
}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form,
#modal-content_add-img form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
#modal-content_add-img input,
#modal-content_add-img select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}



#contact label,
#login label,
#modal-content_add-img label {
	margin: 2em 0 1em 0;
	font-weight: bolder;
	font-size: 14px;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*------------------------------CSS MODALE------------------------------*/

#open-modal {
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 1rem;
	margin-left: 10px;
}

.modal {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
	max-width: 630px;
	margin: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modal-content_first_enfant {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modal-content_first_enfant h3,
#modal-content_add-img h3 {
	margin-top: 60px;
	font-size: 1.62rem;
}

/*les icônes de retour et fermeture*/
.modal-close .fa-xmark,
.add-img_close,
.fa-xmark {
	font-size: 1.5rem;
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
}

#modal-content_add-img .fa-arrow-left {
	font-size: 1.5rem;
	position: absolute;
	left: 20px;
	top: 30px;
	cursor: pointer;
}

.fa-sharp {
	color: #CBD6DC;
	margin-top: 28px;
}

.show {
	visibility: visible;
}

.gallery-modal {
	margin: 0 30px;
	padding-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	border-bottom: 1px solid #B3B3B3;
}

.gallery-modal figure {
	padding: 0 7px 11px 0;
}

#modal-content_first_enfant h3,
#modal-content_add-img h3 {
	margin-bottom: 46px;
}

#add {
	cursor: pointer;
	padding: 10px;
	width: 237px;
}

#delete {
	color: #D65353;
	text-decoration: none;
	margin-bottom: 50px
}

figure {
	position: relative;
}

.icon {
	position: absolute;
	top: 5px;
	right: 12px;
	padding: 5px;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

/*Formulaire d'ajout image*/
#image {
	position: absolute;
	width: 131px;
	height: auto;
}

#modal-content_add-img #ajout-photo {
	margin-top: 10px;
}

#modal-content_add-img #add {
	background: #A7A7A7;
}

input#addPhoto {
    background: #A7A7A7;
    height: 37px;
    width: 237px;
    cursor: pointer;
}

#modal-content_add-img form {
	width: 100%;
}

#modal-content_add-img {
	padding: 0px 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*upload image*/
.img {
	width: 420px;
	height: 175px;
	background-color: #E8F1F7;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#file {
	visibility: hidden;
	display: none;
}

.affichageCacher {
	position: absolute;
	visibility: hidden;
}

.file {
	cursor: pointer;
	border-radius: 50px;
	padding: 10px 33px;
	color: #306685;
	font-weight: bolder;
}

.add-color-grey {
	background-color: #CBD6DC;
}

.img p {
	margin-bottom: 20px;
}

div#icon-modifier {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.fa-regular {
	margin-left: 30px;
}

.hidden{
	visibility: hidden;
	display: none;
}
